body {
    background-color: black;
    color: white;
    margin: 0.5em;
}

h1 {
    font-family: sans-serif;
}

.controls {
    margin: 0.5em;
}

table {
    font-family: monospace;
    font-size: 1.1em;
}

td.size {
    text-align: right;
    padding-left: 1em;
}

