body {
    background-color: black;
    font-family: sans-serif;
    color: green;
}



div.bottomPanel {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: baseline;
    align-content: start;
}

div.connectsEditingForm {
    display: flex;
    margin: 0.5em 0.5em;
    flex-flow: row;
    justify-content: start;
    align-items: baseline;
    align-content: center;
    padding: 0.2em;
    background-color: rgba(60, 60, 60, 0.6);
    justify-content: space-between;
    border-radius: 7px;
}

div.connectsEditingSubForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: baseline;
    align-content: center;
}

div.connectsEditingSubForm > div.oneItem {
    padding: 0.2em 0.4em;
}

div.connectsEditingRow {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: baseline;
    align-content: start;
}

div.connectsEditingRow > div {
    font-size: 0.9em;
    padding: 0.2em 0.4em;
}

div.connectsView {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: baseline;
    align-content: center;
}

table.connectsTable {
    margin: 0 1.1em 0 0.5em;
    border-spacing: 0;
    font-family: monospace;
    font-size: 1rem;
}

table.connectsTable thead tr th {
    color: rgba(80, 80, 80, 1);
    font-size: 0.9em;
    text-align: right;
    padding: 0 0 0.3em 0.3em;
}

table.connectsTable tbody tr:hover {
    background-color: rgba(110,110,110,0.5);
}

table.connectsTable tbody tr:nth-child(even) td {
    background-color: rgba(60,60,60,0.4);
}

table.connectsTable tbody tr td.connectCoordinates.start {
    border-radius: 6px 0 0 6px;
}

table.connectsTable tbody tr td.connectCoordinates.end {
    border-radius: 0 6px 6px 0;
}

table.connectsTable tbody tr:hover td.connectCoordinates {
    background-color: rgba(130,130,130,0.8);
    cursor: pointer;
}

table.connectsTable tbody tr td {
    padding: 0.1em 0.2em 0.1em 0.4em;
    text-align: right;
}

table.connectsTable tbody tr td:first-child {
    color: gray;
    padding-left: 0.6em;
    border-radius: 6px 0 0 6px;
    font-size: 0.9em;
}

table.connectsTable tbody tr td:last-child {
    padding-right: 0.6em;
    border-radius: 0 6px 6px 0;
}

table.connectsTable tbody tr.selected {
    background-color: rgba(0, 0, 255, 0.5);
}

table.connectsTable tbody tr.selected:hover td.connectCoordinates {
    background-color: rgba(80,80,255,0.8);
    cursor: pointer;
}

table.connectsTable tbody tr.blank td {
    color: gray;
}

table.connectsTable tbody tr.selected td {
    border-width: 0.1em 0 0.1em 0;
    padding: 0 0.2em 0 0.4em;
    border-color: blue;
    border-style: solid;
}

table.connectsTable tbody tr.selected td:first-child {
    border-left-width: 0.1em;
}

table.connectsTable tbody tr.selected td:last-child {
    border-right-width: 0.1em;
}
